* {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: gray;
}
main {
    /* border: 5px solid gray; */
    margin: 0.3rem;
}
.editor {
/* #monaco { */
    width: 100%;
    height: 85vh;
    margin-bottom: 0.2em;
    /* padding: 0.2em; */
    color: white;
    background-color: black;
    /* overflow: auto; */
}
#prev-container {
    display: flex;
    margin-bottom: 0.2em;
}

#clear-prev {
    margin-left: 0.2rem;
    padding: 0.1rem;
}
.input-area {
    width: 100%;
    /* height: 1.6em; */
    padding-inline: 0.2em;
    margin-bottom: 0.2rem;
    color: white;
    background-color: black;
}
.swift-commands button {
    padding-inline: 0.5em;
}
.red {
    color: red;
}

.yellow {
    color: yellow;
}
.comp-green {
    color: #43ff00;
}