* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #242424; */
}
body {
    background-color: #242424;
    color: white;
    font-size: 1.15rem;
}
abbr {
    text-decoration: none;
}
main {
    /* display: flex; */
    display: grid;
    grid-template-columns: auto 1fr;
}

.hide {
    display: none;
}

#filetree {
    overflow: auto;
    height: 100vh;
    width: 10em;
}
#filetree div {
    min-width: fit-content;
}

.filename {
    padding-inline: 0.15em;
    white-space: nowrap;
    /* font-size: 1em; */
    cursor: pointer;
}

.dir-name {
    color: #00ff66;
    width: fit-content;
}
.toggle-cont {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-weight: bold;
    cursor: pointer;
}
.dir-cont {
    min-height: 0.4em;
    margin-left: 0.4em;
    border: solid 1px #00ff66;
}

.selected-item {
    text-decoration: underline;
}

#main-area {
    /* flex: 1; */
    display: grid;
    /* grid-template-rows: auto auto auto 1fr; */
    grid-template-rows: auto auto 1fr;
    position: relative;
    margin-left: 3px;
}
#tabs {
    /* display: flex; */
    margin-block: 3px;
    height: 1.2em;
    overflow: auto;
}
.file-tab {
    margin-right: 0.2em;
    padding-inline: 0.2em;
    /* padding-left: 0.2em; */
    color: black;
    background: gainsboro;
    white-space: nowrap;
}

.close-file {
    font-size: 0.8em;
    padding-left: 0.1em;
    cursor: pointer;
}

.unsaved-tab {
    background: pink;
}

.name-prefix {
    /* color: yellow; */
    color: #002ac8;
    font-style: italic;
}

#file-status {
    display: flex;
}

#working-path {
    background: black;
    width: 70%;
    padding-inline: 0.2em;
}
#main-pannel {
    margin-top: 2px;
    display: grid;
    /* grid-template-rows: auto 1fr; */
    z-index: 2;
}
#names-input {
    /* display: none; */
    z-index: 102;
    font-size: 1.5rem;
    height: 1.3em;
    background: black;
    color: white;
    width: 50%;
    margin-inline: auto;
}

#folder {
    /* border: solid 1px #00ff66; */
    position: absolute;
    z-index: 100;
    /* background-color: darkslategray; */
    background-color: #0f0f0f;
    width: 100%;
    height: -webkit-fill-available;
    font-size: 1.2em;
}
#folder-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    grid-auto-rows: max-content;
}
.editor {
    /* width: 99.9%; */
    width: 99.0%;
    /* height: -webkit-fill-available; */
}
.terminal {
    /* display: none; */
    width: 100%;
    height: 50vh;
    /* position: fixed; */
    position: absolute;
    /* z-index: 101; */
    bottom: 0;
}

.z-top {
    z-index: 101;
}