* {
    font-size: 1.15rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(48, 48, 48);
    color: white;
}
main {
    display: flex;
}
#filetree {
    /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
    /* border-right: solid 1px #00ff66; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    overflow: auto;
    height: 100vh;
    /* width: fit-content; */
    /* max-width: 10em; */
    width: 9em;
}
#filetree div {
    /* overflow: visible; */
    min-width: fit-content;
}
.dir-name {
    color: #00ff66;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}
/* .dir-cont { */
.dir {
    /* border-left: solid 3px green;
    border-bottom: solid 3px green; */
    border: solid 0px #00ff66;
    border-right: none;
    margin-bottom: 0.15em;
    margin-top: 0.15em;
    
    /* min-width: fit-content;
    max-width: 10em; */
}
#root-dir {
    /* margin-left: 0; */
    border-right: solid 1px #00ff66;
    margin-top: 0;
}
.dir-cont {
    margin-left: 0.4em;
    /* padding-right: 0.2em; */
}
.dir p {
    /* padding-right: 0.2em; */
    padding-inline: 0.2em;
    white-space: nowrap;
}
#editor-plus {
    flex: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
}
#file-status {
    display: flex;
}
#unsaved {
    width: 1em;
    height: 1em;
    margin-inline: 0.2rem;
}
.editor {
    border: solid 2px black;
}
#prev-container {
    display: flex;
    margin-bottom: 0.2em;
}

#clear-prev {
    margin-left: 0.2rem;
    padding: 0.1rem;
}
.input-area {
    width: 100%;
    /* height: 1.6em; */
    padding-inline: 0.2em;
    margin-bottom: 0.2rem;
    color: white;
    background-color: black;
}
.swift-commands button {
    padding-inline: 0.5em;
}
.red {
    color: red;
}

.yellow {
    color: yellow;
}
.comp-green {
    color: #43ff00;
}