* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 1.15rem;
}
abbr {
    text-decoration: none;
}
main {
    display: flex;
}
#filetree {
    overflow: auto;
    height: 100vh;
    width: 10em;
}
#filetree div {
    min-width: fit-content;
}

.dir-name {
    color: #00ff66;
    width: fit-content;
}
.dir-cont {
    min-height: 0.4em;
    margin-left: 0.4em;
    border: solid 1px #00ff66;
}
.filename {
    padding-inline: 0.15em;
    white-space: nowrap;
    font-size: 1em;
}
#editor-plus {
    flex: 1;
    display: grid;
    grid-template-rows: auto auto 1fr;
}
#file-status {
    display: flex;
}
/* #unsaved {
    width: 1em;
    height: 1em;
    margin-inline: 0.2rem;
} */
#working-path {
    background: black;
    width: 100%;
    padding-inline: 0.2em;
}
.editor {
    border: solid 1px white;
}
.terminal {
    /* display: none; */
    width: 100%;
    height: 50vh;
    position: fixed;
    z-index: 100;
    bottom: 0;
}
